#nav{
  width: 100%;
      background: #0d0534;
  color: white;
      position: fixed;
      z-index: 100;
  .nav-wrapper{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    margin: 0 auto;
    .logo{
      margin-right: auto;
      display: flex;
      align-items: center;
    }
    .menu-wrapper{
      ul{
        display: flex;
        flex-direction: row;
        li{
          padding: 20px;
        }
      }
    }
  }

}
