#apps-open {

  h2 {
    padding: 20px;
  }
  .application-info{
    p{
      font-size: 1.5rem;
    margin: 20px;
    }
  }
}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 467px) {}
