#apps-open {
  .faq {
    padding: 20px 0;

    h2 {
      padding: 20px 0;
    }

    .application-info {
      p {
        font-size: 1.5rem;
        margin: 20px 0;
      }
    }
  }

  .application-form {
    padding: 40px 0;

    .form-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 40px;

      h5 {
        font-size: 1.3rem;
        margin: 10px 0;
      }
    }
    .form-wrapper{
      .form-item{
            margin: 20px 0;
            label{

            }
            p{

            }
            input[type="text"]{

              height: 40px;
              font-size: 1.2rem;
            }
      }
    }
  }
}
@media screen and (max-width: 1199px) {}
@media screen and (max-width: 767px) {}
@media screen and (max-width: 467px) {}
