#applications {
  .applications-wrapper{
    padding: 55px 20px;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    h2{
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 467px) {

}
