#home {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    overflow: hidden;
    align-items: center;
        flex-wrap: wrap;
  }

  }

  @media screen and (max-width: 1199px) {
    #hero{
      .hero-bg{
        justify-content: center;
        .rbp-img{
          width: 100%;
        }
        .rbp-img2{
          justify-content: center;
              margin: 0 20px;
          h2{
            font-size: 2rem;
            text-align: center;
            margin: 0 0 50px;
          }
        }
      }
    }
    #home{
      .rbp-what-is{
        text-align: center;
        width: 100%;
      }
      .img{
        margin: 0 auto;
        width: 75%;
      }
    }
  }
  @media screen and (max-width:  767px) {
    #hero{
      .hero-bg{
        .rbp-img{
        }
        .rbp-img2{
          h2{
            font-size: 1.5rem;
            span{
                font-size: 2.5rem;
            }
          }
        }
      }
    }
    #home{
      .rbp-what-is{
      }
      .img{
      }
      .faq-section{
      .faq-grid{
         grid-template-columns: 1fr !important;
         grid-gap: 50px !important;
      }

      }
    }

  }
