#home {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    overflow: hidden;
    align-items: center;
  }


    .faq-section {
      background: linear-gradient(45deg, #00007eb8, #03001ec4), url(https://ak8.picdn.net/shutterstock/videos/11818658/thumb/1.jpg);
      background-position: center;
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
          border-top: #a1a1a1 solid;
     .container{
       padding: 80px 0;
       .faq-grid {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 100px;

         .faq-location {
           padding: 20px;
           border-left: #eb64fc solid;

           .title {
             margin-bottom: 20px;
             letter-spacing: 0.2rem;

             h3 {
               font-size: 2rem;
               text-transform: uppercase;
                   color: #e54910;
             }
           }
           .description{
             line-height: 1.8rem;
   font-size: 1.1rem;
           }
         }
       }
     }

    }
  }
