#home {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    overflow: hidden;
    align-items: center;
        flex-wrap: wrap;
  }

  }

  @media screen and (max-width: 1199px) {
    #home{
      .rbp-what-is{
        text-align: center;
        width: 100%;
        p{
                  text-indent: 0px;
        }
      }
      .img{
        margin: 0 auto;
        width: 75%;
      }
    }
  }
  @media screen and (max-width:  767px) {

    #home{
      .rbp-what-is{
      }
      .img{
      }
      .faq-section{

      }
    }

  }
